.text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 33.3%;
  flex-direction: column;
  margin: auto;
}
.items-card{
  border: 1px solid black;
}